	html, body {
    	height: 100%;
	}

	html {
   		display: table;
    	margin: auto;
	}

	body {
    	display: table-cell;
    	vertical-align: middle;
		color: #FFF;
		background-color: #111;
	}

	.divs {
  		border: 2px outset yellow;
    	background-color: #222;
	  	text-align: center;
	}

	.status {
  		border: 2px outset lightgreen;
    	background-color: #181818;
	}

	.range {
		font-size: 175%;
	}

	button.large {
		color: #FFF;
		background-color: #C55;
		font-size: 175%;
	}

	button.medium {
		color: #FFF;
		background-color: #AA0;
		font-size: 175%;
	}

	button.small {
		color: #FFF;
		background-color: #0A0;
		font-size: 175%;
	}

	#time_travel {
		width: 100%;
		text-align: center;
		position: relative;
		z-index: 0;
		display: none;
	}

	#date {
		font-family: electrolize;
		font-size: 175%;
	}

	#travel {
		background-color: #8c03fc;
		color: white;
		font-family: electrolize;
		font-size: 175%;
	}

	#now {
		background-color: green;
		color: white;
		font-family: electrolize;
		font-size: 175%;
	}

	#icon-orrery img {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 64px;
		height: 64px;
	}

	#icon-expert img {
		position: absolute;
		top: 72px;
		right: 8px;
		width: 64px;
		height: 64px;
	}

	#icon-admin img {
		position: absolute;
		top: 144px;
		right: 8px;
		width: 64px;
		height: 64px;
	}

	.icon-selected {
		opacity: .2;
		//filter: blur(2px);
	}

	input.apply {
		background-color: yellow;
		color: black;
	}

	input.reboot {
		background-color: red;
		color: white;
	}

	.slider {
		width: 80%;
	}

	#orrery_time {
		font-size: 300%;
		font-family: "D14MR";
		text-align: center;
	}

	#time_to_destination {
		font-size: 100%;
		font-family: "Electrolize";
		text-align: center;
	}

	.image {
		font-family: "Electrolize";
		text-align: center;
	}

	.name {
		font-family: "Electrolize";
		text-align: left;
	}

	.angle {
		font-family: "Electrolize";
		text-align: right;
	}

	.doy {
		font-family: "Electrolize";
		text-align: right;
	}
