	html, body {
    	height: 100%;
	}

	html {
   		display: table;
    	margin: auto;
	}

	body {
    	display: table-cell;
    	vertical-align: middle;
		color: #FFF;
		background-color: #111;
	}

	#settings {
  		border: 2px outset yellow;
    	background-color: #222;
	  	text-align: center;
	}

	#status {
  		border: 2px outset lightgreen;
    	background-color: #181818;
		display: flex;
		justify-content: center;
	}

	.status_table {
		font-family: 'electrolize';
		padding: 10px;
		align-self: center;
	}

	.status_text {
		font-size: 125%;
		white-space: nowrap;
	}

	.range {
		font-size: 175%;
	}

	#set_table {
		font-family: 'electrolize';
	}


	button.large {
		color: #FFF;
		background-color: #C55;
		font-size: 175%;
	}

	button.medium {
		color: #FFF;
		background-color: #AA0;
		font-size: 175%;
	}

	button.small {
		color: #FFF;
		background-color: #0A0;
		font-size: 175%;
	}

	button.halt {
		color: #FFF;
		background-color: #800;
		font-size: 125%;
	}

	button.deenergize {
		color: #000;
		background-color: #F80;
		font-size: 125%;
	}

	button.resume {
		color: #111;
		background-color: #080;
		font-size: 125%;
	}

	button.now {
		color: #111;
		background-color: #0F0;
		font-size: 125%;
	}

	button.resetnow {
		color: #FFF;
		background-color: #F00;
		font-size: 125%;
	}

	button.reboot {
		color: #FF0;
		background-color: #F00;
		font-size: 125%;
	}

	#expert_buttons {
		width: 100%;
		text-align: center;
	}

	#admin_buttons {
		width: 100%;
		text-align: center;
	}

	#time_travel {
		width: 100%;
		text-align: center;
		position: relative;
		z-index: 0;
		display: none;
	}

	#date {
		font-family: electrolize;
		font-size: 175%;
	}

	#travel {
		background-color: #8c03fc;
		color: white;
		font-family: electrolize;
		font-size: 175%;
	}

	#now {
		background-color: #00ff00;
		color: black;
		font-family: electrolize;
		font-size: 175%;
	}

	#icon-orrery img {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 64px;
		height: 64px;
	}

	#icon-expert img {
		position: absolute;
		top: 72px;
		right: 8px;
		width: 64px;
		height: 64px;
	}

	#icon-admin img {
		position: absolute;
		top: 144px;
		right: 8px;
		width: 64px;
		height: 64px;
	}

	.icon-selected {
		opacity: .2;
	}

	#speed_title {
		font-size: 125%;
		font-family: electrolize;
		text-align: center;
	}

	#speed_slider {
		text-align: center;
	}

	input.apply {
		background-color: yellow;
		color: black;
	}

	input.reboot {
		background-color: red;
		color: white;
	}

	.slider {
		width: 80%;
	}

	#orrery_time {
		font-size: 300%;
		font-family: "D14MR";
		text-align: center;
	}

	#time_to_destination {
		font-size: 100%;
		font-family: "Electrolize";
		text-align: center;
	}

	.image {
		font-family: "Electrolize";
		text-align: center;
	}

	.name {
		font-family: "Electrolize";
		text-align: left;
	}

	.angle {
		font-family: "Electrolize";
		text-align: right;
	}

	.doy {
		font-family: "Electrolize";
		text-align: right;
	}
